{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Audio Recorder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/css/uikit.min.css"/>

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/js/uikit-icons.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <style>
        html,body{
            height:100%;
        }




        .border{
                border: 1px solid #dedede;
        }




    </style>
</head>
<body>

<div class="uk-container uk-container-medium uk-height-expand uk-height-1-1">
    <div class="uk-flex uk-flex-middle uk-flex-center uk-height-1-1">
        <div>
            <div>
                <h3 class="uk-text-center uk-text-primary">AUDIO RECORDER</h3>
                <hr>
                <ul class="uk-list uk-list-square">
                    <li>Press the record button to start recording.</li>
                    <li>The browser may ask you for the permission to record.</li>
                    <li>After you finish recording, press stop button.</li>
                    <li>After finalizing the audio, press <b>SUBMIT</b> button</li>
                    <li>Upon clicking the submit button, a popup will be displayed to type in the title (file name) of the audio.
                        Your recording will be saved in the project's root directory.
                    </li>
                    <li class="uk-text-warning">Known issues: Playback issue in Safari browser</li>
                </ul>
            </div>
            <div class="border uk-padding-small uk-grid-row-small uk-grid uk-child-width-1-2@m uk-margin-remove">
                <div class="uk-flex uk-flex-center uk-flex-middle">
                    <div class="uk-text-center">
                        <div id="record-wrapper">
                            <a id="record" uk-tooltip="Record the audio" type="button"
                               class="uk-button uk-button-primary">Record
                            </a>
                        </div>
                        <div id="stop-wrapper" class="uk-hidden">
                            <a class="uk-hidden uk-button uk-button-danger" uk-tooltip="Stop recording the audio"
                               id="stop" type="button">Stop
                            </a>
                        </div>
                    </div>
                </div>
                <div class="uk-grid-margin">
                    <div id="result-wrapper" class="uk-margin uk-text-center uk-animation-scale-up">
                        <audio id="result" controls controlsList="nodownload">
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                </div>
            </div>
            <div class="uk-margin-top uk-text-center uk-margin-bottom">
                <button id="submit" disabled class="uk-button uk-button-secondary audio uk-border-pill">submit</button>
            </div>
        </div>
    </div>
</div>

<!-- This is the modal with the default close button -->
<div id="modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <h2 class="uk-modal-title">Submit your audio</h2>
        <input class="uk-input uk-border-pill" placeholder="Enter the title" id="title">
        <div class="uk-text-center uk-margin-top">
            <button id="confirm-submit" class="uk-button uk-button-primary uk-border-pill">Confirm and submit</button>
        </div>
    </div>
</div>

</body>
<script>var csrf='{{csrf_token}}';</script>
<script src="{% static 'js/recorder.js' %}"></script>

</html>