<!DOCTYPE html>
<html>
<head>
    <title>Voice Recorder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/css/uikit.min.css"/>

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/js/uikit-icons.min.js"></script>
    <style>
        html,body{
            height:100%;
        }




        .border{
                border: 1px solid #dedede;
        }


















    </style>
</head>
<body>

<div class="uk-container uk-container-medium uk-height-expand uk-height-1-1">
    <div class="uk-flex uk-flex-middle uk-flex-center uk-height-1-1">
        <div>
            <div>
                <h3 class="uk-text-center uk-text-success">Voice Recorder</h3>
                <h6 class="uk-text-center uk-text-warning uk-margin">Instructions</h6>
                <hr>
                <ul class="uk-list uk-list-square">
                    <li>Press <b>RECORD</b> to start recording.</li>
                    <li>The browser may ask you for the permission to record.</li>
                    <li>After you finish recording, press <b>STOP</b>.</li>
                    <li>If the audio is not clear or if you wish to record it again, you're free to do so.</li>
                    <li>After finalizing the audio, press <b>SUBMIT</b> button</li>
                    <li>Upon clicking the submit button, a popup will be displayed to type in the title of the audio.
                        Your recording will be submitted to the admin for moderation.
                    </li>
                    <li>Please keep in mind that the audio you record has to be authentic and genuine. Try not to
                        record any copyrighted material. Such recordings will be rejected.
                    </li>
                </ul>
            </div>
            <div class="border uk-padding-small uk-flex uk-flex-around@m uk-flex-left uk-flex-wrap uk-flex-column">
                <div class="uk-text-center">
                    <a id="record" style="width:60px;display:inline-block;">
                        {% include "main/rec-svgrepo-com.svg" %}
                    </a>
                    <a class="uk-hidden" id="stop" style="width:60px;display:inline-block;">
                        {% include "main/stop-svgrepo-com.svg" %}
                    </a>
                </div>
                <div class="uk-margin uk-text-center">
                    <audio id="result" controls>
                        Your browser does not support the audio element.
                    </audio>
                    <p class="uk-text-meta uk-margin-remove-bottom">(Your new record will be available here to play)</p>
                </div>
                <button id="submit" disabled class="uk-button uk-button-secondary audio uk-border-pill">submit</button>
            </div>

        </div>
    </div>
</div>
</body>

<script>
      const recordAudio = () =>
        new Promise(async resolve => {
          const stream = await navigator.mediaDevices.getUserMedia(
            { audio: { sampleSize: 16, channelCount: 1, sampleRate: 24000 } }
          );
          const mediaRecorder = new MediaRecorder(stream);
          let audioChunks = [];

          mediaRecorder.addEventListener('dataavailable', event => {
            audioChunks.push(event.data);
          });

          const start = () => {
            audioChunks = [];
            mediaRecorder.start();
          };

          const stop = () =>
            new Promise(resolve => {
              mediaRecorder.addEventListener('stop', () => {
                const audioBlob = new Blob(audioChunks,{ 'type' : 'audio/mp3; codecs=opus' });
                const audioUrl = URL.createObjectURL(audioBlob);
                const audio = new Audio(audioUrl);
                resolve({ audioChunks, audioBlob, audioUrl });
                const resultAudio = document.querySelector('#result');
                resultAudio.src = audioUrl
              });

              mediaRecorder.stop();
            });

          resolve({ start, stop });
        });

      const sleep = time => new Promise(resolve => setTimeout(resolve, time));

      const recordButton = document.querySelector('#record');
      const stopButton = document.querySelector('#stop');
      const submitButton = document.querySelector('#submit');
      const submitdAudioMessagesContainer = document.querySelector('#submitd-audio-messages');

      let recorder;
      let audio;

      recordButton.addEventListener('click', async () => {
        recordButton.classList.add('uk-hidden');
        stopButton.classList.remove('uk-hidden');
        submitButton.setAttribute('disabled', true);
        if (!recorder) {
          recorder = await recordAudio();
        }
        recorder.start();
      });

      stopButton.addEventListener('click', async () => {
        recordButton.classList.remove('uk-hidden');
        stopButton.classList.add('uk-hidden');
        submitButton.removeAttribute('disabled');
        audio = await recorder.stop();
      });

      submitButton.addEventListener('click', (e) => {
        submitButton.setAttribute('disabled', true);
        const reader = new FileReader();
        reader.readAsDataURL(audio.audioBlob);
        reader.onload = () => {
          const base64AudioMessage = reader.result.split(',')[1];

          fetch('/save/', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json','X-CSRFToken':"{{csrf_token}}" },
            body: JSON.stringify({ message: base64AudioMessage })
          }).then(res => {
            UIkit.notification({
                message: 'Successfully submitted your audio ',
                status: 'primary',
                pos: 'bottom-center',
                timeout: 5000
            });

            console.log('Invalid status saving audio message: ' + res.status);
          });
        };
      });























</script>

</html>